[package]
edition = "2021"
name = "lorawan"
version = "0.1.0"
resolver = "2"
description = "STM32 Nucleo-WL55 LoRaWAN and OTA updates"
keywords = ["lorawan", "lora", "stm32wl", "iot", "stm32", "ota"]

[dependencies]
embedded-hal = "1.0.0-rc.1"

defmt = "0.3"
defmt-rtt = { version = "0.4", optional = true }
panic-probe = { version = "0.3", features = ["print-defmt"], optional = true }
panic-reset = { version = "0.1.1", optional = true }

static_cell = "1"
drogue-device = { path = "../../../../device", default-features = false }
nucleo-wl55jc = { path = "../../../../boards/nucleo-wl55jc" }
cortex-m-rt = "0.7"
cortex-m = { version = "0.7", features = ["critical-section-single-core"] }
heapless = "0.7"
void = { version = "1", default-features = false }
rand_core = { version = "0.6", default-features = false }

embassy-executor = { version = "0.1.0", default-features = false, features = ["nightly", "integrated-timers"] }
embassy-time = { version = "0.1.0", default-features = false, features = ["unstable-traits"] }
embassy-lora = { version = "0.1.0", default-features = false, features = ["stm32wl"] }
embassy-embedded-hal= { version = "0.1.0", default-features = false }
embassy-stm32 = { version = "0.1.0", default-features = false, features = ["stm32wl55jc-cm4", "time-driver-any", "unstable-pac", "subghz"] }
embassy-boot-stm32 = { version = "0.1.0", default-features = false }
embedded-storage = "0.3"
embedded-update = { version = "0.12", features = ["nightly"] }

[features]
default = ["panic-reset"]
debug = [
    "panic-probe",
    "drogue-device/defmt",
    "embassy-executor/defmt",
    #"embassy-stm32/defmt",
    #"embassy-boot-stm32/defmt",
    "defmt-rtt",
]
