[package]
authors = [
    "Ulf Lilleengen <lulf@redhat.com>",
    "Bob McWhirter <bmcwhirt@redhat.com>"
]
edition = "2018"
name = "drogue-update"
description = "Application supporing firmware updates directly from Drogue Cloud"
version = "0.1.0"
keywords = ["ignore"]

[dependencies]
embassy = { version = "0.1.0", default-features = false, features = ["time", "unstable-traits"] }
embassy-embedded-hal = { version = "0.1.0", default-features = false }
embedded-update = { version = "0.2.0", features = ["full"] }
embassy-boot = { version = "0.1.0", default-features = false }
drogue-device = { path = "../../../device", default-features = false, features = ["dfu"] }
embedded-hal = { version = "0.2", features = ["unproven"] }
defmt = { version = "0.3", optional = true }
log = { version = "0.4", optional = true }
heapless = "0.7"
embedded-storage = { version = "0.3.0" }
embedded-tls = { version = "0.8.0", default-features = false, features = ["async"], optional = true}
rand_core = { version = "0.6.2", default-features = false }
embedded-nal-async = { version = "0.1.0", git = "https://github.com/lulf/embedded-nal.git", rev = "7e46d533090882ce9a449f544055c09e6d241e55" }
embedded-io = "0.3.0"

[features]
default = ["embassy/std"]
tls = ["embedded-tls", "drogue-device/tls"]
