[package]
authors = [
    "Ulf Lilleengen <lulf@redhat.com>",
    "Bob McWhirter <bmcwhirt@redhat.com>"
]
edition = "2018"
name = "rak811"
version = "0.1.0"
resolver = "2"
description = "RAK811 Tracker Node connecting to The Things Network"
keywords = ["lorawan", "lora", "stm32l1", "networking", "iot", "stm32", "rak811"]

[workspace]

[dependencies]
embedded-hal = { version = "0.2.4", features = ["unproven"] }
defmt = "0.2"
defmt-rtt = "0.2"
panic-probe = { version = "0.2.0", features = ["print-defmt"] }

drogue-device = { path = "../../../device", features = ["defmt", "defmt-info", "lora"], default-features = false }
cortex-m-rt = "0.7"
cortex-m = { version = "0.7", features = ["inline-asm"] }
heapless = "0.7"
rand = { version = "0.8.4", default-features = false, features = ["small_rng"] }

embassy = { version = "0.1.0", default-features = false, features = ["time-tick-32768hz"] }
embassy-stm32 = { version = "0.1.0", default-features = false, features = ["stm32l151cb-a", "time-driver-tim2", "memory-x", "unstable-pac"] }
embassy-lora = { version = "0.1.0", default-features = false, features = ["sx127x"] }

[features]

default = [
    "defmt-default",
]
defmt-default = []
defmt-trace = [ ]
defmt-debug = [ ]
defmt-info = [ ]
defmt-warn = [ ]
defmt-error = [ ]

[profile.release]
codegen-units = 1
debug = 2
opt-level = "s"
lto = "fat"
debug-assertions = false
incremental = false
overflow-checks = false

[patch.crates-io]
embassy = { git = "https://github.com/embassy-rs/embassy.git", rev = "01e5376b2531ccd97ee760ef1dd7c3ec5d82ccfb" }
embassy-stm32 = { git = "https://github.com/embassy-rs/embassy.git", rev = "01e5376b2531ccd97ee760ef1dd7c3ec5d82ccfb" }
embassy-lora = { git = "https://github.com/embassy-rs/embassy.git", rev = "01e5376b2531ccd97ee760ef1dd7c3ec5d82ccfb" }
embassy-hal-common = { git = "https://github.com/embassy-rs/embassy.git", rev = "01e5376b2531ccd97ee760ef1dd7c3ec5d82ccfb" }

#embassy = { path = "../../../../../embassy/embassy" }
#embassy-stm32 = { path = "../../../../../embassy/embassy-stm32" }
#embassy-hal-common = { path = "../../../../../embassy/embassy-hal-common" }
