[package]
authors = [
    "Ulf Lilleengen <lulf@redhat.com>",
    "Bob McWhirter <bmcwhirt@redhat.com>"
]
edition = "2018"
name = "rak811"
version = "0.1.0"
resolver = "2"
description = "RAK811 Tracker Node connecting to The Things Network"
keywords = ["lorawan", "lora", "stm32l1", "networking", "iot", "stm32", "rak811"]

[workspace]

[dependencies]
embedded-hal = { version = "0.2.4", features = ["unproven"] }
defmt = "0.3"
defmt-rtt = "0.3"
panic-probe = { version = "0.3", features = ["print-defmt"] }

drogue-device = { path = "../../../device", features = ["defmt", "lora", "bsp+rak811"], default-features = false }
cortex-m-rt = "0.7"
cortex-m = { version = "0.7", features = ["inline-asm"] }
heapless = "0.7"
rand = { version = "0.8.4", default-features = false, features = ["small_rng"] }
drogue-lorawan-app = { path = "../../apps/lorawan" }

embassy-executor = { version = "0.1.0", default-features = false, features = ["time-tick-32768hz"] }
embassy-stm32 = { version = "0.1.0", default-features = false, features = ["stm32l151cb-a", "time-driver-any", "memory-x", "unstable-pac"] }
embassy-lora = { version = "0.1.0", default-features = false, features = ["sx127x"] }

[profile.release]
codegen-units = 1
debug = 2
opt-level = "s"
lto = "fat"
debug-assertions = false
incremental = false
overflow-checks = false

[patch.crates-io]
embassy-executor = { git = "https://github.com/embassy-rs/embassy.git", rev = "ba67f6d3a8c84262fcc9b2020670515d192555f1" }
embassy-embedded-hal = { git = "https://github.com/embassy-rs/embassy.git", rev = "ba67f6d3a8c84262fcc9b2020670515d192555f1" }
embassy-hal-common = { git = "https://github.com/embassy-rs/embassy.git", rev = "ba67f6d3a8c84262fcc9b2020670515d192555f1" }
embassy-stm32 = { git = "https://github.com/embassy-rs/embassy.git", rev = "ba67f6d3a8c84262fcc9b2020670515d192555f1" }
embassy-lora = { git = "https://github.com/embassy-rs/embassy.git", rev = "ba67f6d3a8c84262fcc9b2020670515d192555f1" }
ector = { git = "https://github.com/drogue-iot/ector.git", rev = "63c08489da17ff92c493f21411411ce5ddd6154a" }

#embassy-executor = { path = "../../../../../embassy/embassy" }
#embassy-stm32 = { path = "../../../../../embassy/embassy-stm32" }
