[package]
authors = [
    "Ulf Lilleengen <lulf@redhat.com>",
    "Bob McWhirter <bmcwhirt@redhat.com>"
]
edition = "2018"
name = "drogue-device"
version = "0.1.0"

[lib]
doctest = false

[dependencies]
embassy = { version = "0.1.0", default-features = false, features = ["executor-agnostic"] }

# LoRa dependencies
lorawan-device = { git = "https://github.com/ivajloip/rust-lorawan.git", rev = "0de1a2a31933f7c97887b5718c1755fa5ab93a42", default-features = false, features = ["async"], optional = true }
lorawan-encoding = { git = "https://github.com/ivajloip/rust-lorawan.git", rev = "0de1a2a31933f7c97887b5718c1755fa5ab93a42", default-features = false, features = ["default-crypto"], optional = true }
#lorawan-encoding = { path = "../../../rust-lorawan/encoding", default-features = false, features = ["default-crypto", "defmt"], optional = true }
#lorawan-device = { path = "../../../rust-lorawan/device", default-features = false, optional = true, features = ["withdefmt", "async"] }

bit_field = { version = "0.10", optional = true }
embassy-stm32 = { version = "0.1.0", default-features = false, features = ["exti"], optional = true }
embassy-nrf = { version = "0.1.0", default-features = false, optional = true }
embassy-lora = { version = "0.1.0", default-features = false, optional = true }
embassy-net = { version = "0.1.0", default-features = false, optional = true, features= ["tcp", "medium-ethernet", "pool-16" ]}
#embassy-stm32 = {path = "../../../embassy/embassy-stm32", default-features = false, optional = true }

# Wifi Dependencies
nom = { version = "6.1.2", default-features = false, optional = true }
moveslice = { version = "2.0", optional = true }

# TLS dependency
drogue-tls = { version = "0.5.0", default-features = false, features = ["async"], optional = true}
#drogue-tls = {path = "../../drogue-tls", default-features = false, features = ["async", "defmt"], optional = true}
rand_core = { version = "0.6.2", default-features = false }
rand = { version = "0.8.4", default-features = false, features = ["small_rng"], optional = true }

# If needed
cortex-m = { version = "0.7", features = ["inline-asm"], optional = true }

# Utilities
futures = { version = "0.3", default-features = false }
heapless = "0.7"
embedded-hal = { version = "0.2", features = ["unproven"] }
atomic-polyfill = "0.1"
critical-section = "0.2.5"

# Logging alternatives
log = { version = "0.4", optional = true }
defmt = { version = "0.3", optional = true }

# HTTP dependencies
base64 = { version = "0.13.0", default-features = false }

# Handy macros, e.g. drogue::config
drogue-device-macros = { path = "../macros" }

[dev-dependencies]
embassy = { version = "0.1.0", features = ["std", "time", "time-tick-1mhz"]}
#embassy = {path = "../../../embassy/embassy", features = ["std", "time", "time-tick-1mhz"]}

futures = { version = "0.3", default-features = false, features = ["executor"] }
arrayvec = { version = "0.6" }

[features]
default = [ "std", "log", "time" ]
std = ["embassy/std", "embassy/time"]
"lora+rak811" = ["nom", "moveslice"]
"wifi+esp8266" = ["nom", "moveslice"]
"tcp+smoltcp" = ["embassy-net" ]
"wifi+eswifi" = ["nom", "moveslice"]
time = []
lora = ["embassy-lora", "lorawan-device", "lorawan-encoding", "embassy/time"]
wifi = []
tls = ["drogue-tls"]

"bsp+b_u585i_iot02a" = [ "embassy-stm32" ]
"bsp+b_l4s5i_iot01a" = [ "embassy-stm32" ]
"bsp+b_l475e_iot01a" = [ "embassy-stm32" ]
"bsp+nucleo_h743zi" = [ "embassy-stm32"]
"bsp+nucleo_wl55" = [ "embassy-stm32", "embassy-stm32/subghz", "embassy-stm32/unstable-pac" ]
"bsp+microbit" = [ "embassy-nrf", "embassy-nrf/gpiote" ]
"bsp+adafruit_feather_nrf52840_sense" = [ "embassy-nrf" ]
"bsp+b_l072z_lrwan1" = [ "embassy-stm32" ]
"bsp+rak811" = [ "embassy-stm32", "rand", "embassy-stm32/unstable-pac", "cortex-m" ]
