[package]
authors = [
    "Ulf Lilleengen <lulf@redhat.com>",
    "Bob McWhirter <bmcwhirt@redhat.com>"
]
edition = "2018"
name = "esp8266"
version = "0.1.0"

[workspace]

[dependencies]
log = "0.4"
env_logger = "0.8"
drogue-device = { path = "../../../device", features = ["log", "std", "wifi+esp8266", "tls"] }
drogue-tls = { git = "https://github.com/drogue-iot/drogue-tls.git", rev = "59cb23017f546da8e0f186042758226165400548", default-features = false, features = ["async"], optional = true}
#drogue-tls = { version = "0.2.0", default-features = false, features = ["async"], optional = true}
#drogue-tls = {path = "../../drogue-tls", default-features = false, optional = true}
embassy = {git = "https://github.com/embassy-rs/embassy.git", rev = "548593ea415c79472bd2cf2d0c59aadfcf5f715c", features = ["std"] }
embassy-std = {git = "https://github.com/embassy-rs/embassy.git", rev = "548593ea415c79472bd2cf2d0c59aadfcf5f715c", default-features = false }
rand = "0.8"
cfg-if = "1.0.0"

embedded-hal = {version = "0.2.4", features = ["unproven"] }
wifi-app = { path = "../../common/wifi" }
nix = "0.19.1"
async-io = "1.3.1"
futures = { version = "0.3.8", default-features = false, features = ["async-await"] }

[features]
tls = ["drogue-tls", "drogue-tls/log"]
